<div class="login-container">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type= "email" placeholder="Email" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Password" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <button mat-raised-button color="primary" class="button">Login</button>
      <button routerLink="/registration" mat-raised-button color="primary" class="button">
        Register
      </button>
    </mat-card-content>
  </mat-card>
</div>
